.over-view {
    .banner {
        background-image: url('/assets/images/coming-soon/bg-1.jpg');
        background-size: cover;
        .content {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 15px;
            padding-top: 170px;
            padding-bottom: 115px;
            overflow: hidden;
            .row {
                align-items: center;
                .left {
                    p {
                        font-size: 51px;
                        line-height: 57px;
                        color: #ffffff;
                        font-weight: 600;
                        &:first-child {
                            max-width: 310px;
                            margin-bottom: 0;
                        }
                        &:last-of-type {
                            color: #05c4e1;
                        }
                    }
                    span {
                        color: #ffffff;
                        font-size: 13px;
                        font-weight: 400;
                        max-width: 336px;
                        display: block;
                    }
                }
                .right {
                    form {
                        padding: 32px 60px;
                        background: #ffffff;
                        border-radius: 5px;
                        max-width: 498px;
                        >h3 {
                            font-size: 33px;
                            line-height: 30px;
                            font-weight: 600;
                            color: #002d4b;
                            margin: 0;
                            margin-bottom: 15px;
                        }
                        >p {
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 16px;
                            color: #002d4b;
                            margin-bottom: 28px;
                        }
                        input {
                            width: 184px;
                            border-radius: 26px;
                            font-size: 13px;
                            color: #9b9b9b;
                            height: 52px;
                        }
                        select {
                            width: 184px;
                            border-radius: 26px;
                            -webkit-border-radius: 26px;
                            -moz-border-radius: 26px;
                            border-radius: 26px;
                            -khtml-border-radius: 26px;
                            font-size: 13px;
                            color: #9b9b9b;
                            height: 52px;
                        }
                        button {
                            background: #05c4e1;
                            color: #ffffff;
                            width: 100%;
                            font-size: 16px;
                            font-weight: 700;
                            border: none;
                            border-radius: 30px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
    .why {
        padding-top: 98px;
        padding-bottom: 98px;
        h3 {
            font-size: 24px;
            font-weight: 600;
            color: #002d4b;
            line-height: 22px;
            margin: 20px 0;
            margin-top: 28px;
        }
        img {
            height: 48px;
        }
        p {
            color: #002d4b;
            font-size: 15px;
            font-weight: 400;
            line-height: 21px;
        }
        .mobile {
            display: none;
        }
    }
    .safety {
        padding-bottom: 83px;
        >h4 {
            margin-bottom: 60px;
        }
        .content {
            .number {
                width: 66px;
                height: 66px;
                background: #05c4e1;
                border-radius: 50%;
                text-align: center;
                line-height: 66px;
                font-size: 24px;
                font-weight: 600;
                color: #ffffff;
                display: inline-block;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
                color: #002d4b;
                line-height: 24px;
                margin: 20px 0;
            }
            p {
                font-size: 15px;
                font-weight: 400;
                color: #002d4b;
                line-height: 21px;
            }
            a {
                font-weight: 400;
                font-size: 13px;
                color: #05c4e1;
                line-height: 21px;
                img {
                    margin-left: 10px;
                }
            }
        }
    }
    .how {
        background-image: url('/assets/images/rachel-moenning.png');
        background-size: cover;
        padding-top: 49px;
        padding-bottom: 103px;
        .container {
            max-width: 1000px;
        }
        .mobile {
            display: none;
        }
        h3 {
            font-size: 33px;
            font-weight: 600;
            color: #002d4b;
            line-height: 57px;
            text-align: center;
            margin-bottom: 90px;
        }
        .content {
            >div {
                position: relative;
                button {
                    position: absolute;
                    bottom: 0;
                } // &:last-of-type {
                //     button {
                //         position: relative;
                //     }
                // }
            }
            h4 {
                font-size: 24px;
                color: #05c4e1;
                line-height: 29px;
                font-weight: 600;
                margin-bottom: 28px;
            }
            ul {
                list-style: none;
                padding: 0;
                padding-bottom: 70px;
                li {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 21px;
                    color: #002d4b;
                    margin-bottom: 10px;
                    img {
                        margin-right: 15px;
                    }
                }
            }
            button {
                width: calc(100% - 30px);
                height: 60px;
                background: #05c4e1;
                color: #ffffff;
                font-size: 16px;
                font-weight: 700;
                border: none;
                border-radius: 30px;
                margin-top: 31px;
            }
        }
    }
    .requirement {
        padding-top: 90px;
        padding-bottom: 90px;
        >p {
            margin-top: 20px;
            margin-bottom: 90px;
            font-size: 15px;
        }
        .mobile {
            width: 100%;
            display: none;
        }
        .row {
            align-items: center;
            .left {
                text-align: right;
                ul {
                    max-width: 310px;
                    list-style: none;
                    text-align: left;
                    display: inline-block;
                    li {
                        position: relative;
                        &::before {
                            content: "\2022";
                            color: #05c4e1;
                            font-weight: bold;
                            display: inline-block;
                            width: 0px;
                            font-size: 28px;
                            position: absolute;
                            left: -25px;
                        }
                        font-size: 15px;
                        line-height: 21px;
                        color: #002d4b;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    .payment {
        padding-bottom: 80px;
        .mobile {
            display: none;
            .slick-slider {
                .content {
                    text-align: center;
                    img {
                        display: inline-block;
                    }
                }
                .slick-dots {
                    li {
                        button {
                            &::before {
                                color: #05c4e1;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .content {
            margin-top: 80px;
            h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 24px;
                color: #002d4b;
                margin: 30px 0;
            }
            p {
                font-size: 15px;
                line-height: 21px;
                color: #002d4b;
            }
            a {
                color: #05c4e1;
                font-size: 13px;
                line-height: 21px;
                img {
                    margin-left: 10px;
                }
            }
        }
    }
    .more-about {
        margin-top: 80px;
        .row {
            margin-top: 90px;
            img {
                width: 100%;
            }
            h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 57px;
                color: #002d4b;
                margin: 0;
            }
            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 27px;
                color: #002d4b;
                margin: 0;
            }
            a {
                font-size: 13px;
                font-weight: 400;
                line-height: 27px;
                color: #05c4e1;
                margin: 0;
            }
        }
    }
    .ready {
        margin-top: 80px;
        margin-bottom: 100px;
        .background {
            max-width: 1400px;
            margin: 0 auto;
            background-image: url('/assets/images/rachel-moenning.png');
            background-size: cover;
            h3 {
                font-size: 33px;
                font-weight: 600;
                line-height: 40px;
                color: #ffffff;
                max-width: 302px;
            }
            button {
                margin-top: 30px;
                background: #05c4e1;
                width: 166px;
                height: 60px;
                border-radius: 30px;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
            }
            .row {
                align-items: center;
                .right {
                    text-align: center;
                    img {
                        height: 312px;
                    }
                }
            }
        }
    }
}

.faq {
    .content {
        margin-top: 90px;
        .question {
            font-size: 24px;
            font-weight: 300;
            line-height: 30px;
            color: #05c4e1;
            margin: 0;
            cursor: pointer;
        }
        .line {
            margin: 20px 0;
            background: #05c4e1;
            height: 1px;
            width: 100%;
        }
        .short-line {
            text-align: right;
            .line {
                height: 3px;
                background: #05c4e1;
                width: 32px;
                margin: 0;
                display: inline-block;
            }
        }
        .not-margin {
            margin: 0;
        }
        span {
            font-size: 13px;
            font-weight: 400;
            line-height: 21px;
            color: #002d4b;
            margin: 20px 0;
            display: block;
        }
        p {
            color: #002d4b;
            font-size: 13px;
            font-weight: 400;
            line-height: 21px;
        }
    }
}

@media (max-width: 997px) {
    .over-view {
        .ready {
            .background {
                // background-position-x: -197px;
            }
        }
    }
}

@media (max-width: 785px) {
    .over-view {
        .banner {
            .row {
                .left {
                    span {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .over-view {
        .requirement {
            .row {
                .right {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 567px) {
    .over-view {
        .faq {
            .content {
                p {
                    font-size: 17px;
                    margin-bottom: 20px;
                }
            }
        }
        .banner {
            padding: 0;
            padding-top: 15px;
            .content {
                padding: 0;
                .row {
                    .left {
                        padding: 0 30px;
                        p {
                            font-size: 30px;
                            line-height: 35px;
                            &:last-of-type {
                                margin-top: 30px;
                                margin-bottom: 23px;
                            }
                        }
                        span {
                            display: none;
                        }
                    }
                    .right {
                        form {
                            border-radius: 0;
                            padding: 22px 28px;
                            >h3 {
                                display: none;
                            }
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .how {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
                .slick-slider {
                    .content {
                        text-align: center;
                        ul {
                            padding: 0 30px;
                            text-align: left;
                            li {
                                img {
                                    display: inline;
                                }
                            }
                        }
                    }
                    .slick-dots {
                        bottom: -53px;
                        li {
                            button {
                                &::before {
                                    font-size: 12px;
                                    color: #05c4e1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .requirement {
            .mobile {
                display: block;
            }
            .desktop {
                display: none;
            }
            .row {
                margin-top: 75px;
                .left {
                    text-align: left;
                    ul {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width: 575px) {
    .over-view {
        .more-about {
            margin-top: 80px;
            .row {
                >div {
                    margin-bottom: 11px;
                }
                img {
                    width: 40%;
                    float: left;
                }
                .content {
                    width: 60%;
                    display: inline-block;
                    padding-left: 15px;
                    height: 100%;
                    border: 1px solid #e2e2e2;
                    border-radius: 5px;
                    h3 {
                        font-size: 13px;
                        line-height: 21px;
                    }
                    a {
                        display: none;
                    }
                }
            }
        }
        .payment {
            .mobile {
                display: block;
            }
            .desktop {
                display: none;
            }
        }
        .safety {
            .row {
                >div {
                    text-align: center;
                }
                a {
                    display: block;
                    font-size: 15px;
                    margin-top: 45px;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .over-view {
        .why {
            padding-top: 63px;
            padding-bottom: 63px;
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
                .slick-slider {
                    text-align: center;
                    img {
                        display: inline-block;
                    }
                    .slick-dots {
                        li {
                            button {
                                &::before {
                                    font-size: 12px;
                                    color: #05c4e1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}