.settings {
    .dasdboard-content {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
    }
    .communication {
        >h3 {
            margin-bottom: 50px;
            color: #002d4b;
            font-size: 29px;
            font-weight: 300;
        }
        .wrap-content {
            box-shadow: 0 4px 35px rgba(90, 97, 105, 0.1);
            border-radius: 6px;
            background-color: #ffffff;
            padding: 25px;
            p {
                margin-top: 24px;
                color: #002d4b;
                font-size: 13px;
                font-weight: 300;
                color: #002d4b;
            }
        }
    }
    .payment-detail {
        >h3 {
            margin-bottom: 50px;
            color: #002d4b;
            font-size: 29px;
            font-weight: 300;
        }
        .wrap-content {
            box-shadow: 0 4px 35px rgba(90, 97, 105, 0.1);
            border-radius: 6px;
            background-color: #ffffff;
            padding: 25px 47px;
            >p {
                height: 20px;
                color: #002d4b;
                font-size: 13px;
                font-weight: 300;
            }
            .row {
                align-items: center;
                margin-bottom: 30px;
                .card-info {
                    p {
                        font-size: 13px;
                        font-weight: 300;
                        line-height: 21px;
                        color: #002d4b;
                        margin: 0;
                    }
                }
                label {
                    cursor: pointer;
                }
                img {
                    width: 47px;
                }
            }
        }
    }
    .payment-history {
        .warp-content {
            box-shadow: 0 4px 35px rgba(90, 97, 105, 0.1);
            border-radius: 6px;
            background-color: #ffffff;
            ul {
                padding: 0;
                list-style: none;
                margin-bottom: 40px;
                li {
                    height: 68px;
                    color: #002d4b;
                    font-size: 13px;
                    font-weight: 300;
                    align-items: center;
                    display: flex;
                    padding: 0 26px;
                    &:nth-child(even) {
                        background-color: rgba(226, 226, 226, 0.3);
                    }
                }
                .item {
                    .left {
                        -ms-flex-preferred-size: 0;
                        flex-basis: 0;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        max-width: 100%;
                    }
                    .right {
                        -ms-flex: 0 0 auto;
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%;
                    }
                }
            }
            label {
                margin-left: 26px;
                margin-bottom: 40px;
            }
        }
    }

    .add-card {
        .wrap-content {
            box-shadow: 0 4px 35px rgba(90, 97, 105, 0.1);
            border-radius: 6px;
            background-color: #ffffff;
            padding: 40px;
            >p {
                font-size: 13px;
                font-weight: 300;
                color: #002d4b;
                margin-bottom: 20px;
            }
            .card-form {
                max-width: 450px;
                button {
                    padding-left: 22px;
                    padding-right: 22px;
                    margin-top: 20px;
                    width: 100%;
                    border-radius: 30px;
                    background-color: #05c4e1;
                    color: #ffffff;
                    height: 60px;
                    font-size: 16px;
                    font-weight: 700;
                    border: none;
                    .ant-spin {
                        float: left;
                    }
                }
            }

            
        }
    }
    .location-service {
        margin-top: 15px;
        background: #ffffff;
        padding: 26px;
        p {
            color: #002d4b;
            font-size: 13px;
            font-weight: 300;
        }
        .tip {
            margin-bottom: 27px;
        }
        .btn-current-location {
            border-radius: 30px;
            border: 1px solid #05c4e1;
            color: #05c4e1;
            font-size: 16px;
            font-weight: 300;
            height: 60px;
            background: #ffffff;
            width: 100%;
            padding-left: 22px;
            img {
                float: left;
            }
        }
        .gls {
            margin-top: 21px;
            align-items: center;
            .title {
                color: #002d4b;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: -0.3px;
                margin-left: 15px;
            }
            .btn-toggle {
                >div {
                    width: 69px !important;
                    >div {
                        width: 69px !important;
                        height: 40px !important;
                        &:last-of-type {
                            >div {
                                width: 32px !important;
                                height: 32px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-select {
        position: relative;
        margin-bottom: 16px;
        .form-control {
            height: 50px;
            border-radius: 25px;
            border: 1px solid #e2e2e2;
            color: #002d4b;
            font-size: 13px;
            font-weight: 300;
            letter-spacing: -0.3px;
            padding-left: 26px;
            padding-right: 26px;
        }
        .select-reason {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            &::-ms-expand {
                display: none;
            }
        }
        img {
            position: absolute;
            right: 26px;
            top: 20px;
        }
    }
}

.Payment__addCard {
    .btn-submitAddCard {
        width: 100%;
        height: 60px;
        border-radius: 29.5px;
        background-color: #05c4e1;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.25;
        text-align: center;
        color: #ffffff;
        border: 0;
        margin: 30px 0;
    }
}

.bank-account{
    .title{
        color: #05c4e1;            
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 300;
        line-height: 2.28;
        display: block;
        text-align: left;

    }
    .title-2{
        width: 212px;
        height: 19px;
        font-family: Montserrat;
        font-size: 13px;
        color: #002d4b;
        display: block;
        margin-bottom: 15px;
    }
    .btn-submit{
        width: 229px;
        height: 60px;
        border-radius: 29.5px;
        background-color: #05c4e1;
        border: 0;
    }
}