.job_detail{
    .action_button_job{
        button{
            font-size: 13px !important;
            margin-right: 10px !important;
            border: 0;
            border-radius: 3px;
        }
        .view-job-btn-apply{
            background: orange;
            color: white;
        }
    }
}

.marginBot30 {
    margin-bottom: 30px !important;
}
