.header {
  position: absolute;
  height: 60px;
  width: 100%;
  opacity: 0.8;
  background-color: #000000c9;
}

.search-section {
  height: 348px;
  background-image: url('../images/bg_search_page.png');
  background-repeat: no-repeat;
}